# AmbuSync backend — Flask + MongoDB + Socket.IO + ML + PDF
PyJWT
bcrypt
numpy
scikit-learn
werkzeug
google-generativeai
flask
flask-cors
flask-socketio
eventlet
gunicorn
pymongo
python-dotenv
fpdf2
bcrypt
